@charset "UTF-8";
/*!
 * screen.scss ------------ 站点scss文件
 *
 * variables -------------- 变量集中存储文件
 *
 * mixin ------------------ mixin集中存储文件
 */
.color-black {
  color: #222222;
}

.color-white {
  color: #FFFFFF;
}

.color-silver {
  color: #F1F1F1;
}

.color-silver-dark {
  color: #777777;
}

.color-grey {
  color: #bdbdbd;
}

.color-grey-dark {
  color: #aaa;
}

.color-win8 {
  color: #00CCFF;
}

.color-teal {
  color: #00A0B1;
}

.color-blue {
  color: #2E8DEF;
}

.color-purple {
  color: #A700AE;
}

.color-purple-dark {
  color: #643EBF;
}

.color-red, .error {
  color: #d9534f;
}

.color-orange {
  color: #DC572E;
}

.color-green {
  color: #00A600;
}

.color-sky {
  color: #0A5BC4;
}

.size14 {
  font-size: 14px;
}

.size18 {
  font-size: 18px;
}

.m0 {
  margin: 0 !important;
}

.mT0 {
  margin-top: 0;
}

.mT5 {
  margin-top: 5px;
}

.mT10 {
  margin-top: 10px;
}

.mT15 {
  margin-top: 15px;
}

.mT20 {
  margin-top: 20px;
}

.mT30 {
  margin-top: 30px;
}

.mB5 {
  margin-bottom: 5px;
}

.mB10 {
  margin-bottom: 10px;
}

.mB15 {
  margin-bottom: 15px;
}

.mB20 {
  margin-bottom: 20px;
}

.mB30 {
  margin-bottom: 30px;
}

.pT0 {
  padding-top: 0 !important;
}

.pB0 {
  padding-bottom: 0 !important;
}

* {
  outline: none !important;
}

.brand-logo img {
  margin-top: 10px;
}

.page-footer {
  background-color: #d14e70 !important;
}
.page-footer .btn {
  background-color: #d14e70 !important;
}
.page-footer h5 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.7rem;
}

.supports .card {
  min-height: 133px;
}

.fixed-action-btn ul {
  margin-bottom: 0;
}

#introduce h5 {
  font-size: 19px;
}
#introduce h5 i {
  float: left;
  margin: 3px 6px 0 0;
  color: #d14e70;
  font-size: 22px;
}

.textI {
  text-indent: 2em;
}

#introduce blockquote {
  color: #d14e70;
}

blockquote h5 {
  font-size: 19px !important;
}

blockquote h6 {
  font-size: 17px !important;
}

blockquote {
  border-color: #d14e70;
}

#contact {
  min-height: 550px;
}

p img {
  max-width: 100%;
}

.scrollspy-ul {
  position: fixed;
  top: 130px;
}

.icon-apple {
  background: url(../images/icon-apple.png) no-repeat 6px 5px;
  background-size: 24px;
}

.icon-wei-chart {
  background: url(../images/icon-wei-chart.png) no-repeat center center;
  background-size: 28px;
}

.icon-apple, .icon-wei-chart {
  width: 100%;
  height: 100%;
}

.btn-floating {
  opacity: 1 !important;
  -ms-transform: scaleY(1) scaleX(1) translateY(0) !important;
  -webkit-transform: scaleY(1) scaleX(1) translateY(0) !important;
  transform: scaleY(1) scaleX(1) translateY(0) !important;
  position: relative;
  overflow: visible;
}

.btn-floating img {
  position: absolute;
  width: 80px;
  height: 80px;
  left: -90px;
  top: -20px;
  -ms-transition: all 0.3s ease 0s;
  webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  -webkit-transform: scaleY(0.4) scaleX(0.4);
  transform: scaleY(0.4) scaleX(0.4);
}

.btn-floating:hover img {
  opacity: 1;
  -ms-transform: scaleY(1) scaleX(1);
  -webkit-transform: scaleY(1) scaleX(1);
  transform: scaleY(1) scaleX(1);
}

.ie9-box-wrap {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);
}
.ie9-box-wrap .ie9-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #f44336;
  font-size: 20px;
  left: 50%;
  margin: 50px auto 50px -45%;
  padding: 20px;
  position: fixed;
  text-align: center;
  width: 90%;
  background: #fff;
}
.ie9-box-wrap .ie9-close {
  float: right;
}

.ltie9 .ie9-box-wrap {
  display: block;
}

#nav {
  height: auto;
  padding: 10px 0;
  background: #d14e70;
}
#nav .row {
  margin-bottom: 0;
}
#nav li {
  margin: 0 8px;
  background: none !important;
}
#nav li a {
  color: #fff;
  position: relative;
  margin-top: 8px;
  padding-right: 18px;
  border-radius: 0 0 2px 2px;
}
#nav li a span {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  -ms-transition: all 0.25s ease-out 0s;
  -webkit-transition: all 0.25s ease-out 0s;
  transition: all 0.25s ease-out 0s;
}
#nav li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #e5e5e5;
}
#nav li a:hover span {
  top: -8px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
#nav li .active {
  background-color: rgba(0, 0, 0, 0.1);
  color: #e5e5e5;
}
#nav li .active span {
  top: -8px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
#nav i {
  color: #fff;
}
#nav .active i {
  color: #e5e5e5;
}
#nav a:hover i {
  color: #e5e5e5;
}

.side-nav a, .side-nav i {
  color: #555 !important;
}

html {
  overflow-x: hidden;
  font-family: "Microsoft YaHei";
}

.code-box-wrap .code-box {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  background: #66bb6a;
  border-radius: 4px;
  position: relative;
}
.code-box-wrap .code-box img {
  margin: 0 auto;
  display: block;
}
.code-box-wrap .code-box p {
  color: #fff;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.code-box-wrap .code-box .hide-img {
  width: 64px;
  position: absolute;
  left: 50%;
  margin-left: -32px;
  top: 50%;
  margin-top: -32px;
  opacity: 0;
}
.code-box-wrap .pc {
  background-position: 0 0;
}
.code-box-wrap .mobile {
  background-position: 0 0;
}
.code-box-wrap .ios {
  background-position: 0 0;
}
.code-box-wrap .android {
  background-position: 0 0;
}

.question a {
  color: rgba(0, 0, 0, 0.8);
  line-height: 28px;
}

.question a:hover {
  text-decoration: underline;
  color: #d14e70;
}

.contact-ul li {
  line-height: 28px;
}

.traditional .card {
  background-color: #d14e70;
}

.promo i {
  color: #d14e70;
}
